// Relative or absolute URL where all assets are served from

// Negative Margins
$enable-negative-margins: true;

// Fonts
$font-base : 'Cabin', sans-serif !default;
$font-base-size : 1.6rem !default;
$font-heading : 'Cabin', sans-serif !default;
$font-heading-color: #030303 !default;
$font-color : #030303 !default;

// Colors 

$light-blue: #F2FAFF;
$alice-blue: #E9F7FF;
$maya-blue: #67CFFF;
$green: #7EB530;
$orange: #F06E49;

$blue: #0082D2;
$dark: #030303;
$gray: #605F5E;
$night-rider: #2E2E2E;
 

// Links
$link-color: white;
$link-hover-color: white;

// Z-Index
$z-index-0 : -1;
$z-index-1 : 10;
$z-index-2 : 20;
$z-index-3 : 30;
$z-index-4 : 40;
$z-index-5 : 50;
$z-index-6 : 60;
$z-index-7 : 70;
$z-index-8 : 80;
$z-index-9 : 90;
$z-index-10: 100;


//Utilities
